In [2]:
import pandas as pd

In [3]:
params = pd.read_csv('openabm_params.csv')
params = params.pivot(index="age_group", columns="fraction")
params.columns = params.columns.droplevel(0)
params

fraction,critical_fraction,fatality_fraction,fraction_asymptomatic,hospitalised_fraction
age_group,,,,
0-9,0.050,0.33,0.456,0.001
10-19,0.050,0.25,0.412,0.006
20-29,0.050,0.50,0.370,0.015
30-39,0.050,0.50,0.332,0.069
40-49,0.063,0.50,0.296,0.219
50-59,0.122,0.69,0.265,0.279
60-69,0.274,0.65,0.238,0.370
70-79,0.432,0.88,0.214,0.391
80-100,0.709,1.00,0.192,0.379

In [4]:
params["frac_critical_among_symptomatic"] = \
    params["critical_fraction"] * params["hospitalised_fraction"]

In [5]:
params["frac_critical_among_symptomatic"]

age_group
0-9       0.000050
10-19     0.000300
20-29     0.000750
30-39     0.003450
40-49     0.013797
50-59     0.034038
60-69     0.101380
70-79     0.168912
80-100    0.268711
Name: frac_critical_among_symptomatic, dtype: float64

In [6]:
params["frac_survive"] = 1 - params["fatality_fraction"]

In [7]:
params["frac_survive"]

age_group
0-9       0.67
10-19     0.75
20-29     0.50
30-39     0.50
40-49     0.50
50-59     0.31
60-69     0.35
70-79     0.12
80-100    0.00
Name: frac_survive, dtype: float64